.App {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #604fcf;
  height: 56px;
  max-width: 1128px;
  margin: auto;
}

header {
  border-bottom: 1px solid #604fcf;
  margin: auto;
}

img {
  max-width: 48px;
  max-height: 48px;
}

.subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #604fcf;
}

.footer {
  max-width: 1128px;
  display: flex;
  align-items: center;
  margin: auto;
}
h1,
h4,
p {
  margin: 0;
}

.main {
  max-width: 1128px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
}
body {
  background-color: #f4f3ff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  /* background-color: purple; */
  border-radius: 24px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 360px;
  height: 460px;
  padding: 40px;
}

.cards_item {
  display: flex;
  padding: 1rem;
}
.principal-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  /* width: 280px; */
  line-height: 120%;
}

.card-button {
  background: transparent;
  border: #ffffff solid 1px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-align: center;

  color: #ffffff;
}
.cards {
  justify-content: center;
}

.title {
  margin-bottom: 236px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  /* identical to box height, or 100% */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;
}

.adote {
  background-image: url("../Assets/adoteme.png");
  background-repeat: repeat;
  background-size: cover;
}

.medi {
  background-size: cover;
  background-image: url("../Assets/medi.png");
  background-repeat: repeat;
}

.onbording {
  background-image: url("../Assets/onbo.png");
  background-repeat: repeat;
  background-size: cover;
}
.interface {
  background-image: url("../Assets/UI.png");
  background-repeat: repeat;
  background-size: cover;
}
.vio {
  background-image: url("../Assets/vio.png");
  background-repeat: repeat;
  background-size: cover;
}
.body {
  background-image: url("../Assets/boddy.png");
  background-repeat: repeat;
  background-size: cover;
}

.description-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;

  letter-spacing: -1px;

  color: #604fcf;
}
.footer-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 175px;
  height: 36px;

  background: #604fcf;
  border: 1px solid #604fcf;
  border-radius: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #ffffff;
}

.infos {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #604fcf;
}

@media (min-width: 900px) {
  .cards_item {
    width: 50%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* grid-template-rows: 608px; */
    /* grid-template-columns: 100% 100% 100%; */
    /* padding: 10px; */
  }
}

@media (min-width: 1134px) {
  .cards_item {
    width: 33.3333%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* grid-template-rows: 608px; */
    /* grid-template-columns: 100% 100% 100%; */
    /* padding: 10px; */
  }
}

.infos {
  margin-top: 24px;
}
@media (min-width: 1134px) {
  .footer {
    display: grid;
    grid-template-rows: 608px;
    grid-template-columns: 50% 50%;
    padding: 10px;
  }
}

@media (max-width: 1134px) {
  h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
}
